services:
  app:
    build:
      context: .
      dockerfile: docker/8.3/Dockerfile.prod
      args:
        WWWGROUP: 1000
    image: receramica-laravel:latest
    container_name: receramica-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - /var/lib/docker/creaciones_images:/var/www/html/storage/app/public/creaciones_images
